[submodule "app/templates/koa2"]
	path = app/templates/koa2
	url = https://github.com/Cherish-xzw/koa2-boilerplate.git
[submodule "app/templates/koa2-vue"]
	path = app/templates/koa2-vue
	url = https://github.com/Cherish-xzw/koa2-vue-boilerplate.git
